@font-face {
    font-family: beautyCN;
    src: url(fonts/beautyCN.ttf);
}

div {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    color:white;
}

a {
    color: blueviolet;
}

a:hover {
    color: hotpink;
}

a:link { 
    text-decoration: none; 
}

body {
    font-family: beautyCN;
    background-image: green;
    background-image: url(background-img/img.jpg)!important;
    background-size:cover;
    background-color:#000000;
}

